  
        div {
            width: 300px;
        }


        h1,
        h3 {
            color: red;
        }

        hr {
            position: relative;
            top: 20px;
            border: none;
            height: 12px;
            background: black;
            margin-bottom: 45px;

        }

        .uppernav {
            overflow: hidden;
            background-color: aqua;

        }

        .uppernav a {
            float: left;
            color: black;
            text-align: center;
            padding: 15.5px 17.5px;
            text-decoration: none;
            font-size: 19px;

        }

        .uppernav a:hover {
            background-color: black;
            color: white;

        }

        .uppernav a.active {
            background-color: black;
            color: white;

        }

    